@model OnlineCash.Models.ReportSellModel

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-3 bg-white rounded">
                <div class="row">
                    <div class="col-md-6">
                        <div class="billed"><span class="font-weight-bold text-uppercase">Магазин: </span><span class="ml-1">@Model.Shop?.Name</span></div>
                        <div class="billed"><span class="font-weight-bold text-uppercase">Дата: </span><span class="ml-1">@Model.Start.ToString("dd.MM.yy")</span></div>
                    </div>
                </div>
                <div class="row mt-3 mb-0">
                    <div class="col-md-6">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a  class="nav-link active" aria-current="page" asp-action="details" asp-route-shiftId="@ViewBag.shiftId">Проданные товар</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="checks" asp-route-shiftId="@ViewBag.ShiftId">Чеки</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Товар</th>
                                <th>Продано</th>
                                <th>Возврат</th>
                                <th>Всего</th>
                                <th>Всего руб</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reportGood in Model.ReportGoods)
                            {
                                <tr>
                                    <td>@reportGood.Good?.Name</td>
                                    <td>@Math.Round(reportGood.CountSell, 3)</td>
                                    <td>@Math.Round(reportGood.CountReturn, 3)</td>
                                    <td>@Math.Round(reportGood.CountAll, 3)</td>
                                    <td>@Math.Round(reportGood.SumAll, 2)</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">Итог</th>
                                <th>@Math.Round(Model.ReportGoods.Sum(r => r.CountAll), 3)</th>
                                <th>@Model.SumSell</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>