@model List<OnlineCash.DataBaseModels.Shift>
    <div class="table-responsive table-responsive-sm">
        <table class="table table-sm table-hover table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Дата</th>
                    <th rowspan="2">Магазин</th>
                    <th colspan="3">Продажи</th>
                    <th rowspan="2">Возвраты</th>
                    <th rowspan="2">Итог</th>
                </tr>
                <tr>
                    <th>Наличные</th>
                    <th>Безналичные</th>
                    <th>Всего</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shift in Model)
                {
                    <tr data-id="@shift.Id" onclick="openShift(@shift.Id)">
                        <td>@shift.Start.ToString("dd.MM")</td>
                        <td>@shift.Shop?.Name</td>
                        <td>@shift.SumNoElectron</td>
                        <td>@shift.SumElectron</td>
                        <td>@shift.SumSell</td>
                        <td>@shift.SummReturn</td>
                        <td>@shift.SumAll</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2"></th>
                    <td>@Model.Sum(s => s.SumNoElectron)</td>
                    <td>@Model.Sum(s => s.SumElectron)</td>
                    <th>@Model.Sum(s => s.SumSell)</th>
                    <th>@Model.Sum(s => s.SummReturn)</th>
                    <th>@Model.Sum(s => s.SumAll)</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <script>
        function openShift(id) {
            window.location.href = "/ReportsSells/Details?shiftId=" + id;
        }
    </script>