@model List<OnlineCash.Models.GoodWithGoodBalanceModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .prices {
            display: grid;
            grid-template-columns: repeat(3, 70mm);
        }

        .price {
            page-break-inside: avoid;
            border: 1px dotted lightgray;
            padding: 2mm;
        }

        h4, h5 {
            margin: 1mm;
            padding: 0;
            font-family: Arial;
        }

        h4 {
            font-size: 18pt;
        }

        h5 {
            font-size: 14pt;
        }

        span[org] {
            display: block;
            font-family: Calibri;
            font-size: 6pt;
        }

        img {
            display: block;
        }
    </style>
</head>
<body>
    <div class="prices">
        @foreach (var goodWithBalance in Model)
            foreach (var price in goodWithBalance.Good.GoodPrices)
            {
                decimal? pricePrint = ViewBag.NoPrice != true ? Math.Round(price.Price / 10, 2) : null;
                <div class="price">
                    <h5 style="width:56mm; min-height: 15mm; overflow-x: hidden; text-overflow: ellipsis">
                        @goodWithBalance.Good.Name
                    </h5>
                    <div style="clear: both">&nbsp;</div>

                    <barcode content="@goodWithBalance.Good.BarCodes.FirstOrDefault()?.Code" width="140" height="10" margin="2" barcodeformat="CODE_128" outputformat="PNG" />

                    <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
                        <h4>@pricePrint <span style="height:100%; font-size: 10px; float: right; padding-top: 1em; margin-right:1em">р./100г</span></h4>
                        <span org>@price.Shop?.OrgName <br />ИНН @price.Shop?.Inn<br>@DateTime.Now.ToString("dd.MM.yy")</span>
                    </div>
                </div>
            }
    </div>
    <script>
        window.print();
    </script>
</body>
</html>