@using OnlineCash.DataBaseModels;
@model OnlineCash.ViewModels.GoodViewModel

<form id="form" asp-controller="Goods" asp-action="Save" method="post">
    <input asp-for="@Model.Id" type="hidden" />
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name">Наименование</label>
            <input type="text" asp-for="Name" list="GoodList" class="form-control form-control-sm" />
            <datalist id="GoodList" >
                @foreach (var good in (List<Good>)ViewBag.Goods)
                {
                <option>@good.Name</option>
                }
            </datalist>
            <span asp-validation-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="GoodGroupId">Группа</label>
            <select asp-for="GoodGroupId" asp-items="@(new SelectList(ViewBag.Groups, "Id", "Name"))" class="form-select form-select-sm "></select>
            <span asp-validation-for="GoodGroupId" />
        </div>
        <div class="form-group">
            <label asp-for="Article">Артикул</label>
            <input type="text" asp-for="Article" class="form-control form-control-sm" />
            <span asp-validation-for="Article" />
        </div>
        <div class="form-group">
            <label>Штрих код</label>
            <div id="barcodes" class="row mb-2">
                @{int pos = 0; }
                @foreach (var barCode in Model.BarCodes)
                {
                <div data-id="@barCode.Id" class="col-sm-auto" style="display: grid; grid-template-columns: 100px auto auto">
                    <input fieldId name="BarCodes[@pos].Id" type="hidden" value="@barCode.Id" />
                    <input fieldCode class="form-control form-control-sm" name="BarCodes[@pos].Code" value="@barCode.Code" />
                    <button type="button" onclick="generateBarCode(this.parentElement)" class="btn btn-sm btn-light" style="margin: 0 2px">
                        <i class="fa fa-barcode"></i>
                    </button>
                    <button onclick="removeBarCode(this.parentElement)" type="button" class="btn btn-sm btn-light" style="margin: 0 2px">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                    pos++;
                }
            </div>
            <div class="row">
                <div class="col-auto">
                    <button onclick="addBarCode()" type="button" class="btn btn-light btn-sm">
                        <i class="fa fa-plus"></i>
                        Штрихкод
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <!--
        <select asp-for="Unit" asp-items="Html.GetEnumSelectList<DataBase.Units>()" class="form-select form-select-sm"></select>
            -->
            <select asp-for="Unit" class="form-select form-select-sm">
                <option value="796">шт</option>
                <option value="166">кг</option>
                <option value="112">л</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="SpecialType" class="form-label">Тип</label>
            <select asp-for="SpecialType" asp-items="Html.GetEnumSelectList<SpecialTypes>()" class="form-select form-select-sm"></select>
        </div>
        <div class="form-group">
            <label asp-for="VPackage" class="form-label">Объем тары</label>
            <input asp-for="VPackage" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Цена</label>
            <div class="row">
                <div class="col-4">
                    <input shoppricemain type="text" asp-for="Price" class="form-control form-control-sm" />
                </div>
                <div class="col-auto">
                    <button onclick="document.querySelectorAll('input[shopprice]').forEach(inp => inp.value = document.querySelector('[shoppricemain]').value)" type="button" class="btn btn-sm btn-light">=</button>
                </div>
            </div>
            <span asp-validation-for="Price" />
        </div>
        <div class="form-group">
            <label asp-for="SupplierId">Поставщик</label>
            <select asp-for="SupplierId" asp-items="@(new SelectList(ViewBag.Suppliers,"Id","Name"))" class="form-select form-select-sm ">
                <option value="-1">Не выбран</option>
            </select>
            <span asp-validation-for="SupplierId"/>
        </div>
    </div>
    <table class="table table-sm">
        @for(var i=0; i<Model.PriceShops.Count; i++)
            {
        <tr>
            @Html.EditorFor(Model => Model.PriceShops[i].idShop, new { htmlAttributes = new { @type = "hidden" }, })
            @Html.EditorFor(Model => Model.PriceShops[i].idPrice, new { htmlAttributes = new { @type = "hidden" }, })
            <td>
                @Model.PriceShops[i].ShopName
            </td>
            <td>
                @Html.CheckBoxFor(Model=>Model.PriceShops[i].BuySuccess,new { @buySuccess="", @class = "form-check" })
            </td>
            <td>
                @Html.EditorFor(Model => Model.PriceShops[i].Price, new { htmlAttributes = new { @shopprice="", @class = "form-control form-control-sm" }, })
            </td>
        </tr>
            }
    </table>
    <div class="form-group">
        <span id="btnSubmit" type="submit" value="Сохранить" class="btn btn-sm btn-success" >Созранить</span>
        <span id="btnDelete" class="btn btn-sm btn-danger">Удалить</span>
    </div>
</form>
<script>
    const inpUnit = document.getElementById("select[name=Unit]");
    window.onload = function () {
        inpUnit.value = 796;
    }
    //---- Штрих коды ------
    const barcodes = document.getElementById("barcodes");
    function generateBarCode(barcodeDiv) {
        let input = barcodeDiv.querySelector("input[fieldCode]");
        fetch("/api/NewBarCode/")
            .then(r => r.text())
            .then(code => input.value = code);
    }
    function addBarCode() {
        fetch("/api/NewBarCode/")
            .then(r => r.text())
            .then(code => {
                let div = document.createElement("div");
                div.dataset.id = -1;
                div.classList.add("col-sm-auto");
                div.style = "display: grid; grid-template-columns: 100px auto auto";
                let divCount = barcodes.querySelectorAll("div").length;
                div.innerHTML = `
                    <input fieldId name="BarCodes[].Id" type="hidden" value="-1" />
                    <input fieldCode class="form-control form-control-sm" name="BarCodes[${divCount}].Code" value="${code}" />
                    <button type="button" onclick="generateBarCode(this.parentElement)" class="btn btn-sm btn-light" style="margin: 0 2px">
                        <i class="fa fa-barcode"></i>
                    </button>
                    <button onclick="removeBarCode(this.parentElement)" type="button" class="btn btn-sm btn-light" style="margin: 0 2px">
                        <i class="fa fa-trash"></i>
                    </button>
`;
                barcodes.append(div);
                positionBarCodeRestruct();
            })
    }
    function removeBarCode(barCodeDiv) {
        barCodeDiv.remove();
        positionBarCodeRestruct();
    }
    function positionBarCodeRestruct() {
        let i = 0;
        barcodes.querySelectorAll("div").forEach(div => {
            console.log(div.querySelector("input[fieldId]"));
            div.querySelector("input[fieldId]").setAttribute("name", `BarCodes[${i}].Id`);
            div.querySelector("input[fieldCode]").setAttribute("name", `BarCodes[${i}].Code`);
            i++;
        });
    }

    const formGood = document.getElementById("form");
    const btnSubmit = document.getElementById("btnSubmit");
    const btnDelete = document.getElementById("btnDelete");
    btnSubmit.addEventListener("click", () => {
        formGood.submit();
    })
    btnDelete.addEventListener("click", () => {
        if (confirm("Удалить?"))
            window.location.href = "/goods/delete?id=@Model.Id";
    });
    function save() {
        let good = {
            name: document.getElementById("Name").value,
            goodGroupId: document.getElementById("GoodGroupId").value,
            article: document.getElementById("Article").value,
            unit: document.getElementById("Unit").value,

        }

    }
</script>