@using OnlineCash.DataBaseModels
@model IEnumerable<OnlineCash.DataBaseModels.Stocktaking>

    <form asp-controller="Stocktaking" asp-action="Create" method="get">
        <div>
            <h4>Выберите магазин</h4>
            <div style="display: inline-block; width:100px">
                <select name="idShop" class="form-select form-select-sm ">
                    @foreach(var shop in (List<Shop>)ViewBag.Shops)
            {
                <option value="@shop.Id">@shop.Name</option>
            }
                </select>
            </div>
            <input type="submit" class="btn btn-sm btn-primary " value="создать"/>
        </div>
    </form>

<table class="table table-hover table-bordered table-sm ">
    <thead>
        <tr>
            <th>Статус</th>
            <th>Дата</th>
            <th>Номер</th>
            <th>Магазин</th>
            <th>Рассхождение руб.</th>
            <th>Факт руб.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stocktaking in Model)
        {
            string status = "";
            if (stocktaking.Status == DocumentStatus.Confirm)
                status = "Подтверждена";
            if (stocktaking.Status == DocumentStatus.Remove)
                status = "Отменена";
            string className = "";
            className = stocktaking.Status == DocumentStatus.Confirm ? "bg-success" : className;
            className = stocktaking.Status == DocumentStatus.Remove ? "bg-secondary" : className;
            string classNameLink = stocktaking.Status==DocumentStatus.Confirm || stocktaking.Status==DocumentStatus.Remove? "link-light" : "link-dark";
        <tr class="">
            <td onclick="openStocktaking(@stocktaking.Id)">@status</td>
            <td onclick="openStocktaking(@stocktaking.Id)">@stocktaking.Create.ToString("dd.MM")</td>
            <td onclick="openStocktaking(@stocktaking.Id)">@stocktaking.Num</td>
            <td onclick="openStocktaking(@stocktaking.Id)">@stocktaking?.Shop.Name</td>
            <td onclick="openStocktaking(@stocktaking.Id)">@(stocktaking.SumFact - stocktaking.SumDb)</td>
            <td onclick="openStocktaking(@stocktaking.Id)">@stocktaking.SumFact</td>
            <td>
                <span onclick="cancelStocktaking(@stocktaking.Id)" class="btn btn-sm btn-light" style="margin-right: 10px"><i class="fa fa-trash"></i> Отменить</span>
                <a asp-controller="stocktaking" asp-action="Print" asp-route-id="@stocktaking.Id" class="btn btn-sm btn-light "><i class="fa fa-print"></i>Печать</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function openStocktaking(id) {
        window.location.href = "/stocktaking/Edit/" + id;
    }
    function cancelStocktaking(id) {
        if (confirm("Отменить инверторизацию?"))
            window.location.href = "/stocktaking/Cancel/" + id;
    }
</script>