@model OnlineCash.DataBaseModels.Stocktaking

<div class="row mt-4">
    <div class="col-12">
        <h4>Инверторизация @Model.Num от @Model.Create.ToString("dd.MM.yy")</h4>
        <h5 class="mb-1">Сумма товара в магазине до инверторизации @Model.SumDb</h5>
        <h5 class="mb-1">Сумма товара в магазине по инверторизации @Model.SumFact</h5>
        @if(Model.SumFact-Model.SumDb>0)
        {
            <h5>Пересорт @(Model.SumFact - Model.SumDb) руб.</h5>
        }
        @if(Model.SumFact-Model.SumDb < 0)
        {
            <h5>Недостача @(Model.SumDb - Model.SumFact) руб.</h5>
        }
    </div>
</div>

<div class="table-responsive mt-2">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th rowspan="2">Товар</th>
                <th rowspan="2">Ед</th>
                <th colspan="2">До инверторизации</th>
                <th colspan="2">В инверторизации</th>
                <th rowspan="2">Разница</th>
            </tr>
            <tr>
                <th>Кол-во</th>
                <th>Стоимость</th>
                <th>Кол-во</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var summary in Model.StocktakingSummaryGoods)
            {
                string background = "";
                if (summary.CountFact - summary.CountDb > 0)
                    background = "bg-info";
                if (summary.CountFact - summary.CountDb < 0)
                    background = "bg-warning";
                <tr class="@background">
                    <td>@summary.Good?.Name</td>
                    <td>@summary.Good?.Unit.GetDescription()</td>
                    <td>@summary.CountDb</td>
                    <td>@(summary.CountDb * summary.Price)</td>
                    <td>@summary.CountFact</td>
                    <td>@(summary.CountFact * summary.Price)</td>
                    <td>@(summary.CountFact * summary.Price - summary.CountDb * summary.Price)</td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th colspan="2">Итого</th>
                <th colspan="2">@Model.SumDb</th>
                <th colspan="2">@Model.SumFact</th>
                <th>@(Model.SumFact - Model.SumDb)</th>
            </tr>
        </thead>
    </table>
</div>