@model List<OnlineCash.DataBaseModels.Arrival>

<div>
    <a asp-controller="Arrivals" asp-action="Create" class="btn btn-sm btn-success">Создать</a>
    <a asp-action="ReportProblem" class="btn btn-sm btn-primary">Отчет взаиморасчетов</a>
    <a asp-action="PaymentsList" class="btn btn-sm btn-primary">Внести оплату</a>
</div>
<table class="table table-sm table-hover table-striped table-bordered mb-2">
    <thead>
        <tr>
            <th>Статус</th>
            <th>№</th>
            <th>Дата</th>
            <th>Поставщик</th>
            <th>Магазин</th>
            <th>Сумма</th>
            <th>Оплата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arrvial in Model)
        {
            string isSuccess = arrvial.isSuccess ? "Проведен" : "";
            string className = arrvial.isSuccess ? "bg-success" : "";
            string classTrName = arrvial.isSuccess ? "link-light" : "link-dark";
            string paymentstatus = "";
            string paymentstatusClass = arrvial.SumPayments - arrvial.SumArrivals >=0 ? "" : "link-danger";
            if (arrvial.SumPayments - arrvial.SumArrivals == 0)
                paymentstatus = $"Оплачен {arrvial.SumPayments}";
            else
                if (arrvial.SumPayments - arrvial.SumArrivals > 0)
                paymentstatus = $"Переплата {arrvial.SumPayments - arrvial.SumArrivals}";
            else
                paymentstatus = $"Долг {arrvial.SumArrivals - arrvial.SumPayments}";

        <tr>
            <td>@isSuccess</td>
            <td class=""><a class="link-dark" asp-action="Edit" asp-route-ArrivalId="@arrvial.Id">@arrvial.Num</a></td>
            <td class=""><a class="link-dark" asp-action="Edit" asp-route-ArrivalId="@arrvial.Id">@arrvial.DateArrival.ToString("dd.MM")</a></td>
            <td class="">@arrvial.Supplier?.Name</td>
            <td class="">@arrvial.Shop?.Name</td>
            <td class="">@arrvial.SumArrivals.ToString()</td>
            <td class="@paymentstatusClass">@paymentstatus</td>
        </tr>
        }
    </tbody>
</table>