@model List<GoodCountAnalyse>
<div class="table-responsive">
    <table class="table table-sm table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Наименование</th>
                @for (var day = (DateTime)ViewBag.Start; DateTime.Compare(day, (DateTime)ViewBag.Stop) <= 0; day = day.AddDays(1).Date)
                {
                    <th colspan="4">@day.ToString("dd.MM")</th>
                }
            </tr>
            <tr>
                <th></th>
                @for (var day = (DateTime)ViewBag.Start; DateTime.Compare(day, (DateTime)ViewBag.Stop) <= 0; day = day.AddDays(1).Date)
                {
                    <th>И</th>
                    <th>Р</th>
                    <th>П</th>
                    <th>О</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var countOfGood in Model)
            {
            <tr>
                <td>@countOfGood.GoodName</td>
                @foreach (KeyValuePair<DateTime, GoodCountAnalyseDay> valuePair in countOfGood.CountOfDays)
                {
                    <td>@valuePair.Value.CountStocktaking.Normalize()</td>
                    <td>@valuePair.Value.CountMinus.Normalize()</td>
                    <td>@valuePair.Value.CountPlus.Normalize()</td>
                    <td>@valuePair.Value.CountGoodBalance.Normalize()</td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>