@using OnlineCash.DataBaseModels
@model IEnumerable<OnlineCash.DataBaseModels.GoodCountBalanceCurrent>

    <div class="row">
        <div class="col">
            <h5>Сумма товара всего: @ViewBag.SumAll</h5>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-secondary">Печать</button>
        </div>
    </div>

    <form asp-action="GoodCountBalance" method="get">
        @{ 
            string viewNullStr = (bool)ViewBag.ViewNull ? "checked" : "";

        }
        <div class="input-group input-group-sm mt-3 mb-3">
            <input type="text" name="find" class="form-control form-control-sm" style="margin: 0 5px 0 0" placeholder="Поиск товара" aria-label="Поиск товара" aria-describedby="button-addon2">
            <label class="form-label" style="margin: 0 5px 0 0">Группа</label>
            <select name="goodGroupId" class="form-select form-select-sm" asp-items="@(new SelectList(ViewBag.GoodGroups, nameof(GoodGroup.Id), nameof(GoodGroup.Name)))" style="margin: 0 5px 0 0"></select>
            <div class="form-check" style="margin: 0 5px 0 0">
                <input class="form-check-input" type="checkbox" name="viewNull" value="true" @viewNullStr id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Скрыть нулевые
                </label>
            </div>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
        </div>
    </form>


<div class="table-responsive">
    <table class="table table-sm table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Ед</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            @{ decimal sumAll = 0; }
            @foreach(var cur in Model)
                if(cur.Good.IsDeleted==false)
                {
                    decimal sum = cur.Good.Price * cur.Count;
                    sumAll += sum;
                    <tr onclick="getDetail(@cur.GoodId, '@cur.Good.Name')">
                        <td>@cur.Good.Name</td>
                        <td>@cur.Good.Unit.GetDescription()</td>
                        <td>@cur.Good.Price</td>
                        <td>@cur.Count</td>
                        <td>@Math.Round(sum,2)</td>
                    </tr>
                }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Сумма</th>
                <th>@Math.Round(sumAll,2)</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="moveDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moveGoodName">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Документ</th>
                            <th>Дата</th>
                            <th>Движение</th>
                        </tr>
                    </thead>
                    <tbody id="moveTable"></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Остаток</th>
                            <th id="moveCountEnd"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    const moveDialog = new bootstrap.Modal(document.getElementById('moveDialog'));
    const moveGoodName = document.getElementById("moveGoodName");
    const moveTable = document.getElementById("moveTable");
    const moveCountEnd = document.getElementById("moveCountEnd");

    function getDetail(goodId, goodName) {
        moveTable.querySelectorAll("tr").forEach(tr => tr.remove());
        fetch("GoodCountDetail?goodId=" + goodId)
            .then(r => r.json())
            .then(list => {
                moveGoodName.textContent = goodName;
                let countEnd = 0;
                list.forEach(doc => {
                    let tr = document.createElement("tr");
                    tr.innerHTML = `<td>${doc.title}</td><td>${doc.dateStr}</td><td>${doc.count}</td>`;
                    moveTable.append(tr);
                    countEnd += doc.count;
                });
                moveCountEnd.textContent = countEnd;
                moveDialog.show();
            })
    }
</script>