@model OnlineCash.Models.Discounts.DiscountParamContainerModel
@using OnlineCash.Models.Discounts
<div class="row mb-4">
</div>
<div class="row mb-3">
    <div class="col-12 pillbox clearfix">
        <div onclick="save()" class="btn btn-sm btn-success">Сохранить</div>
        <div class="btn btn-sm btn-success">Отмена</div>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-plus"></i> Добавить
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button onclick="addSumBuy()" class="dropdown-item" type="button">Скидка по накоплению</button></li>
                <li><button onclick="addSumOneBuy()" class="dropdown-item" type="button">Скидка одноразовой покупке</button></li>
                <li><button onclick="addNumBuyer()" class="dropdown-item" type="button">N-ый покупатель</button></li>
                <li><button onclick="addHoliday()" class="dropdown-item" type="button">Скидка в праздник</button></li>
                <li><button onclick="addBirthday()" class="dropdown-item" type="button">Скидка в день рождения</button></li>

            </ul>
        </div>
    </div>
</div>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Включено</th>
            <th>Правило</th>
        </tr>
    </thead>
    <tbody id="discountParamSumBuys">
        @foreach(DiscountParamSumBuyModel sumBuy in Model.SumBuys)
        { 
            
            <tr uuid="@sumBuy.Uuid">
                <td>
                    <div class="form-check">
                        @Html.CheckBox("IsEnable",sumBuy.IsEnable,new { @class = "form-check-input" })
                    </div>
                </td>
                <td>
                    Если предыдущие покупки больше 
                    <input type="text" sumBuyesMore value="@sumBuy.SumBuyesMore" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    р. , то начислить 
                    <input type="text" discountSum value="@sumBuy.DiscountSum" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. или скидка 
                    <input type="text" discountPercent value="@sumBuy.DiscountPercent" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    % (выдается единоразово)
                </td>
            </tr>
        }
    </tbody>
    <tbody id="discountParamSumOneBuy">
        @foreach(var sumOneBuy in Model.SumOneBuys)
        { 
            <tr uuid="@sumOneBuy.Uuid">
                <td>
                    @Html.CheckBox("IsEnable", sumOneBuy.IsEnable, new { @class = "form-check-input" })
                </td>
                <td>
                    Если текущая покупка больше
                    <input type="text" sumBuy value="@sumOneBuy.SumBuy" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    р. , то начислить
                    <input type="text" discountSum value="@sumOneBuy.DiscountSum" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     или скидка 
                    <input type="text" discountPercent value="@sumOneBuy.DiscountPercent" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    %
                </td>
            </tr>
        }
    </tbody>
    <tbody id="discountParamNumBuyer">
        @foreach(var numBuyer in Model.NumBuyer)
        {
            <tr uuid="@numBuyer.Uuid">
                <td>
                    @Html.CheckBox("IsEnable", numBuyer.IsEnable, new { @class = "form-check-input" })
                </td>
                <td>
                    Если по счету покупатель является
                    <input type="text" numBuyer value="@numBuyer.NumBuyer" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    , то начислить 
                    <input type="text" discountSum value="@numBuyer.DiscountSum" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. или скидка 
                    <input type="text" discountPercent value="@numBuyer.DiscountPercent" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     %
                    <br />
                    <textarea textSms class="form-control form-control-sm" placeholder="Текст смс">@numBuyer.TextSms</textarea>
                </td>
            </tr>
        }
    </tbody>
    <tbody id="discountParamHolidays">
        @foreach(var holiday in Model.Holidays)
        {
            <tr uuid="@holiday.Uuid">
                <td>
                    @Html.CheckBox("IsEnable", holiday.IsEnable, new { @class = "form-check-input" })
                </td>
                <td>
                    Дата праздника
                    <input type="date" dateHoliday value="@holiday.DateHoliday.ToString("yyyy-MM-dd")" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    , то начилить
                    <input type="text" discountSum value="@holiday.DiscountSum" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. или скидка
                    <input type="text" discountPercent value="@holiday.DiscountPercent" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    %
                    <br />
                    <textarea textSms class="form-control form-control-sm" placeholder="Текст смс">@holiday.TextSms</textarea>
                </td>
            </tr>
        }
    </tbody>
    <tbody id="discountParamBirthday">
        @foreach(var birthday in Model.Birthdays)
        {
            <tr uuid="@birthday.Uuid">
                <td>
                    @Html.CheckBox("IsEnable", birthday.IsEnable, new { @class = "form-check-input" })
                </td>
                <td>
                    Если день рождения, то действует кол-во
                    <input type="text" dayEnable value="@birthday.DayEnable" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    дней и начислить
                    <input type="text" discountSum value="@birthday.DiscountSum" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    или скидка
                    <input type="text" discountPercent value="@birthday.DiscountPercent" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    %
                    <br />
                    <textarea textSms class="form-control form-control-sm" placeholder="Текст смс">@birthday.TextSms</textarea>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Скидки по дням недели</h5>
<table class="table table-sm table-bordered table-hover table-striped ">
    <thead>
        <tr>
            <th>День</th>
            <th>Время</th>
            <th>Скидка</th>
        </tr>
    </thead>
    <tbody id="discountWeeks">
        @foreach(var week in Model.Weeks)
        { 
            <tr dayNum="@week.DayNum" dayName="@week.DayName">
                <td>@week.DayName</td>
                <td>
                    с <input timeWith value="@week.TimeWith" class="form-control form-control-sm" style="display: inline-block; width: 50px" /> 
                    по <input timeBy value="@week.TimeBy" class="form-control form-control-sm" style="display: inline-block; width: 50px" />
                </td>
                <td>
                    <input discountPercent value="@week.DiscountPercent" class="form-control form-control-sm" style="display: inline-block; width: 50px" /> %
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    const sumBuyTable = document.getElementById("discountParamSumBuys");
    const sumOneBuyTable = document.getElementById("discountParamSumOneBuy");
    const discountParamNumBuyer = document.getElementById("discountParamNumBuyer");
    const discountParamHolidays = document.getElementById("discountParamHolidays");
    const discountParamBirthday = document.getElementById("discountParamBirthday");
    const discountWeeks = document.getElementById("discountWeeks");

    function addSumBuy() {
        let tr = document.createElement("tr");
        tr.setAttribute("uuid", "");
        tr.innerHTML = `
    <td>
                    <div class="form-check">
                        <input type=checkbox checked=true class='form-check-input'/>
                    </div>
                </td>
                <td>
                    Если предыдущие покупки больше
                    <input type="text" sumBuyesMore value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    р. , то начислить
                    <input type="text" discountSum value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. или скидка
                    <input type="text" discountPercent value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    %
                </td>
`;
        sumBuyTable.prepend(tr);
    }

    function addSumOneBuy() {
        let tr = document.createElement("tr");
        tr.setAttribute("uuid", "");
        tr.innerHTML = `
    <td>
                    <div class="form-check">
                        <input type=checkbox checked=true class='form-check-input'/>
                    </div>
                </td>
                <td>
                    Если текущая покупка больше
                    <input type="text" sumBuy value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. , то  начислить
                    <input type="text" discountSum value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     или скидка
                    <input type="text" discountPercent value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     %
                </td>
`;
        sumOneBuyTable.prepend(tr);
    }

    function addNumBuyer() {
        let tr = document.createElement("tr");
        tr.setAttribute("uuid", "");
        tr.innerHTML = `
    <td>
                    <input type=checkbox checked=true class='form-check-input'/>
                </td>
                <td>
                    Если по счету покупатель является
                    <input type="text" numBuyer value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    , то начислить
                    <input type="text" discountSum value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. или скидка
                    <input type="text" discountPercent value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     %
                    <br />
                    <textarea textSms class="form-control form-control-sm" placeholder="Текст смс"></textarea>
                </td>
`;
        discountParamNumBuyer.prepend(tr);
    }

    function addHoliday() {
        let tr = document.createElement("tr");
        tr.setAttribute("uuid", "");
        tr.innerHTML = `
<td>
                    <div class="form-check">
                        <input type=checkbox checked=true class='form-check-input'/>
                    </div>
                </td>
                <td>
                    Дата праздника
                    <input type="date" dateHoliday class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    , то начилить
                    <input type="text" discountSum value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     р. или скидка
                    <input type="text" discountPercent value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    %
                    <br />
                    <textarea textSms class="form-control form-control-sm" placeholder="Текст смс"></textarea>
                </td>
`;
        discountParamHolidays.prepend(tr);
    }

    function addBirthday() {
        let tr = document.createElement("tr");
        tr.setAttribute("uuid", "");
        tr.innerHTML = `
        <td>
                    <div class="form-check">
                        <input type=checkbox checked=true class='form-check-input'/>
                    </div>
                </td>
                <td>
                    Если день рождения, то действует кол-во
                    <input type="text" dayEnable value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                    дней и равна =
                    <input type="text" discountPercent value="" class="form-control form-control-sm mb-2 mr-sm-2" style="width: 100px; display: inline-block">
                     %
                    <br />
                    <textarea textSms class="form-control form-control-sm" placeholder="Текст смс"></textarea>
                </td>
`;
        discountParamBirthday.prepend(tr);
    }


    function save() {
        let sumBuyes = new Array();
        sumBuyTable.querySelectorAll("tr").forEach(tr => {
            let uuid = tr.getAttribute("uuid");
            if (uuid == "") uuid = null;
            let isEnable = tr.querySelector("input[type=checkbox]").checked;
            let sumBuyesMore = parseFloat(tr.querySelector("input[sumBuyesMore]").value);
            if (isNaN(sumBuyesMore)) sumBuyesMore = null;
            let discountSum = parseFloat(tr.querySelector("input[discountSum]").value);
            if (isNaN(discountSum)) discountSum = null;
            let discountPercent = parseInt(tr.querySelector("input[discountPercent]").value);
            if (isNaN(discountPercent)) discountPercent = null;
            sumBuyes.push({ uuid: uuid, isEnable: isEnable, sumBuyesMore: sumBuyesMore, discountSum: discountSum, discountPercent: discountPercent });
        })

        let sumOneBuyes = new Array();
        sumOneBuyTable.querySelectorAll("tr").forEach(tr => {
            let uuid = tr.getAttribute("uuid");
            if (uuid == "") uuid = null;
            let isEnable = tr.querySelector("input[type=checkbox]").checked;
            let sumBuy = parseFloat(tr.querySelector("input[sumBuy]").value);
            if (isNaN(sumBuy)) sumBuy = null;
            let discountSum = parseInt(tr.querySelector("input[discountSum]").value);
            if (isNaN(discountSum)) discountSum = null;
            let discountPercent = parseInt(tr.querySelector("input[discountPercent]").value);
            if (isNaN(discountPercent)) discountPercent = null;
            sumOneBuyes.push({ uuid: uuid, isEnable: isEnable, sumBuy: sumBuy, discountSum: discountSum, discountPercent: discountPercent });
        });

        let numBuyers = new Array();
        discountParamNumBuyer.querySelectorAll("tr").forEach(tr => {
            let uuid = tr.getAttribute("uuid");
            if (uuid == "") uuid = null;
            let isEnable = tr.querySelector("input[type=checkbox]").checked;
            let numBuyer = parseInt(tr.querySelector("input[numBuyer]").value);
            if (isNaN(numBuyer)) numBuyer = null;
            let textSms = tr.querySelector("textarea").value;
            if (textSms == "") textSms = null;
            let discountSum = parseFloat(tr.querySelector("input[discountSum]").value);
            if (isNaN(discountSum)) discountSum = null;
            let discountPercent = parseInt(tr.querySelector("input[discountPercent]").value);
            if (isNaN(discountPercent)) discountPercent = null;
            numBuyers.push({ uuid: uuid, isEnable: isEnable, numBuyer: numBuyer, textSms: textSms, discountPercent: discountPercent, discountSum: discountSum });
        });

        let holidays = new Array();
        discountParamHolidays.querySelectorAll("tr").forEach(tr => {
            let uuid = tr.getAttribute("uuid");
            if (uuid == "") uuid = null;
            let isEnable = tr.querySelector("input[type=checkbox]").checked;
            let dateHoliday = tr.querySelector("input[dateHoliday]").value;
            let textSms = tr.querySelector("textarea").value;
            let discountSum = parseFloat(tr.querySelector("input[discountSum]").value);
            if (isNaN(discountSum)) discountSum = null;
            let discountPercent = tr.querySelector("input[discountPercent]").value;
            if (isNaN(discountPercent)) discountPercent = null;
            holidays.push({ uuid: uuid, isEnable: isEnable, dateHoliday: dateHoliday, textSms: textSms, discountSum: discountSum, discountPercent: discountPercent });
        });

        let birthdays = new Array();
        discountParamBirthday.querySelectorAll("tr").forEach(tr => {
            let uuid = tr.getAttribute("uuid");
            if (uuid == "") uuid = null;
            let isEnable = tr.querySelector("input[type=checkbox]").checked;
            let dayEnable = parseInt(tr.querySelector("input[dayEnable]").value);
            let textSms = tr.querySelector("textarea").value;
            let discountPercent = parseInt(tr.querySelector("input[discountPercent]").value);
            birthdays.push({ uuid: uuid, isEnable: isEnable, dayEnable: dayEnable, textSms: textSms, discountPercent: discountPercent });
        });

        let weeks = new Array();
        discountWeeks.querySelectorAll("tr").forEach(tr => {
            let discountPercent = parseInt(tr.querySelector("input[discountPercent]").value);
            if (isNaN(discountPercent)) discountPercent = null;
            weeks.push({
                dayNum: tr.getAttribute("dayNum"),
                dayName: tr.getAttribute("dayName"),
                timeWith: tr.querySelector("input[timeWith]").value,
                timeBy: tr.querySelector("input[timeBy]").value,
                discountPercent: discountPercent
            })
        });

        fetch("discountsetting/save", {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify({ sumBuys: sumBuyes, sumOneBuys: sumOneBuyes, numBuyer: numBuyers, holidays: holidays, birthdays: birthdays, weeks: weeks })
        })
            .then(resp => resp.json())
            .then(model => console.log(model));
    }
</script>